body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.numbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
}

.numberBtn {
    height: 75px;
    width: 75px;
}

.footer {
    margin-top: auto;
}