body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none;
}

.results {
    margin-bottom: 10px;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% auto 10%;
}

.numbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
}

.numberBtn {
    height: 75px;
    width: 75px;
}

.footer {
    margin-top: auto;
    margin-bottom: 0;
}
