body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #E9FAE3;
}

a {
    text-decoration: none;
    color: black;
}

h2 {
    margin-left: auto;
    margin-right : 0;
    padding: 10px;
    color: #AC92A6;
}

.results {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 10px;
    border: 2px solid #D5C7BC;
    height: 40px;
    width: 300px;
    background-color: #DEE8D5;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% auto 10%;
}

.pad {
    display: flex;
    align-items: center;
}

.numbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
}

.operations {
    display: grid;
    gap: 3px;
    margin-left: 10px;
}

.btn-num,
.btn-op,
.btn-clr,
.btn-del,
.btn-equal {
    height: 75px;
    width: 75px;
    background-color: #DEE8D5;
    border: 2px solid #D5C7BC;
    color: #AC92A6;
    font-weight: 700;
}

.btn-op,
.btn-equal {
    height: 50px;
    width: 50px;
}

.btn-equal {
    height: 97px;
}
.footer {
    margin-top: auto;
    margin-bottom: 0;
}
